<div>
  <%= raw @memo.render %>
</div>

<div id="memo-detail">
  <ul>
    <li>by <a href="/users/<%= @memo.user.trace_id %>"><%= @memo.user.trace_id %> </a></li>
    <li>at :: <%= @memo.updated_at %></li>
  </ul>
</div>
